* {
  margin: 0;
  padding: 0;
}
body {
  /* 淡天蓝 → 薄荷蓝 */
  background: linear-gradient(120deg, #d4eef9, #e6f7ff) !important;
  width: 100vw !important;
  height: 100vh !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
#content-wrap {
  background-color: #ffffff !important;
  border: none !important;
}